<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!-- RS Clare Test-->
    <add key="web.crm.dbn.code" value="cm25202tRCWof" />
    <add key="web.crm.user.id" value="markhoxtontech" />
    <add key="web.crm.password" value="markhoxtontech" />
    <add key="SendGridPassword" value="O1l4ndG45" />
    <add key="SendGridUserName" value="rsclaresendgridapi" />
    <add key="WebCrmRemoteAddress" value="https://webcrmapi.b2bsys.net/apicrm1/webCRMAPI.asmx" />
    <add key="ContactFormAssignedToUser" value="Stephanie Gawne" />
    <add key="OrdersAssignedToUser" value="Tony Shannon" />
    <add key="OpportunityDocumentFolder" value="General" />
    <add key="ActivityDocumentFolder" value="General" />
    <add key="CloudConfiguration" value="false" />
    <add key="ShowSettings" value="false" />



    <add key="GeneralEnquiryCompanyResponsible" value="Stephanie Gawne" />
    <add key="GeneralEnquiryActivityResponsible" value="Melissa Makin" />
    <add key="SpecificEnquiryOandGCompanyResponsible" value="Stephanie Gawne" />
    <add key="SpecificEnquiryOandGActivityResponsible" value="Stephanie Gawne" />
    <add key="SpecificEnquiryRailCompanyResponsible" value="Christopher Johnson" />
    <add key="SpecificEnquiryRailActivityResponsible" value="Stephanie Gawne" />
    <add key="SpecificEnquiryBimagripCompanyResponsible" value="Steve Greathead" />
    <add key="SpecificEnquiryBimagripActivityResponsible" value="Stephanie Gawne" />
    <add key="SpecificEnquiryMarineCompanyResponsible" value="Stephanie Gawne" />
    <add key="SpecificEnquiryMarineActivityResponsible" value="Stephanie Gawne" />
    <add key="SpecificEnquiryHighwaysAndBridgesCompanyResponsible" value="Stephanie Gawne" />
    <add key="SpecificEnquiryHighwaysAndBridgesActivityResponsible" value="Stephanie Gawne" />
    <add key="SpecificEnquiryIndustrialSpecificCompanyResponsible" value="Stephanie Gawne" />
    <add key="SpecificEnquiryIndustrialSpecificActivityResponsible" value="Stephanie Gawne" />
    <add key="SafetyDatasheetCompanyResponsible" value="Stephanie Gawne" />
    <add key="SafetyDatasheetActivityResponsible" value="Jackie Witkiss" />
    <add key="TechnicalDatasheetCompanyResponsible" value="Stephanie Gawne" />
    <add key="TechnicalDatasheetActivityResponsible" value="Stephanie Gawne" />
    <add key="CaseStudyCompanyResponsible" value="Stephanie Gawne" />
    <add key="CaseStudyActivityResponsible" value="Stephanie Gawne" />
    <add key="CareersCompanyResponsible" value="Stephanie Gawne" />
    <add key="CareersActivityResponsible" value="Melissa Makin" />
    <add key="SupplierCompanyResponsible" value="Elaine Littlewood" />
    <add key="SupplierActivityResponsible" value="Elaine Littlewood" />


  </appSettings>


  <system.serviceModel>
    <bindings>

      <basicHttpBinding>
        <binding name="WebCrmApiSoap" allowCookies="true" maxReceivedMessageSize="20000000" maxBufferSize="20000000" maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32" maxArrayLength="200000000" maxStringContentLength="200000000" />
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://webcrmapi.b2bsys.net/apicrm1/webCRMAPI.asmx" binding="basicHttpBinding" bindingConfiguration="WebCrmApiSoap" contract="WebCRMAPI.WebCrmApiSoap" name="WebCrmApiSoap" />
    </client>


  </system.serviceModel>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>